<%- include('layout/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Add Product</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter name" required>
                        </div>
                        <div class="mb-3">
                            <label for="price">Price</label>
                            <input type="text" name="price" class="form-control form-control-lg" placeholder="Enter price" required>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="qty">QTY</label>
                            <input type="tel" name="qty" class="form-control form-control-lg" placeholder="Enter qty" >
                        </div> -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input type="file" class="form-control" name="image" required>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Add Item" class="btn btn-success btn-lg">
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>